/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dbf3df; /* Fondo principal */
}

/* Encabezado */
header {
    background-color: #5b8f60; /* Fondo del encabezado */
    width: 100%;
    color: #0e0d0d;
    padding: 20px 0;
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido del encabezado */
    align-items: center;
    position: relative;
}

.logo {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.logo img {
    margin-top: -25px;
    width: 200px;
    height: 150px;
}

.banner {
    text-align: center;
}

.user-dropdown {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
}

.user_logo {
    width: 50px;
    height: 50px;
}

/* Botón desplegable */
.dropbtn {
    background-color: #5b8f60; /* Fondo del botón de menú */
    color: white; /* Texto del botón de menú */
    border: none;
    cursor: pointer;
    padding: 7px 10px;
    border-radius: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:  #ede7f1; /* Fondo del contenido del menú desplegable */
    min-width: 160px;
    z-index: 1;
    top: 100%; /* Muestra el menú debajo del botón */
    left: -90px;
    right: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.user-dropdown:hover .dropdown-content {
    display: block;
}

/* Estilos para las opciones del menú desplegable */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #0d0d0e; /* Color de enlaces en el menú */
}

.dropdown-content a:hover {
    background-color: #c8e9c4; /* Fondo al pasar el mouse sobre las opciones */
    color: #0d0d0e; /* Color de texto al pasar el mouse sobre las opciones */
}

/* Cuadro blanco centrado */
.cuadro-blanco {
    margin-top: 10px;
    width: 40%; /* Ancho del cuadro blanco reducido */
    max-width: 400px; /* Ancho máximo para cuadros más pequeños */
    margin: 2rem auto; /* Centra el cuadro horizontalmente y añade margen vertical */
    border: 2px solid #000000;
    display: flex;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    justify-content: center;
}

.contenido-cuadro {
    padding: 10px;
    text-align: center; /* Centra el texto horizontalmente */
}

.contenido-cuadro h3 {
    margin: 0;
}

.contenido-cuadro p {
    margin: 0;
    text-align: center; /* Centra el texto horizontalmente */
}

/* Perfil */
.registro {
    display: flex;
    justify-content: center;
}

/* Estilos para el formulario dentro del cuadro blanco */
.registro form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra el formulario dentro de su contenedor */
}

label {
    flex: 1; /* Permite que las etiquetas ocupen el 100% del ancho de su contenedor */
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    flex: 2; /* Permite que los campos de entrada ocupen el doble de ancho que las etiquetas */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #fff;
    width: 95%; /* Asegura que los campos de entrada se extiendan al 100% de su contenedor */
    font-size: 14px;
}

.boton_g {
    background-color: #139717;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton_g:hover {
    background-color: #8dc780; /* Color de fondo al pasar el mouse sobre el botón */
}

/* Pie de Página */
footer {
    color: #080808;
    padding: 10px 0;
    text-align: center;
    position: relative; /* Ajusta la posición del footer */
    bottom: 0;
    width: 100%;
}

.pie {
    margin-left: 10px;
}
